/* extrasmall */
/* @media only screen and (max-width: 575px){
    .our-team-main{
        height: 98%;
        width: 98%;
        margin: 1%;
        padding: 2%;
        border-radius: 5px;
    }
	.cacarotte{
	max-width:300px;
	}
} */

/* small */
/* @media only screen and (max-width: 767px){
    .our-team-main{
        height: 98%;
        width: 98%;
        margin: 1%;
        padding: 2%;
        border-radius: 5px;
    }
} */

/* medium */
/* @media only screen and (max-width: 991px){
    .our-team-main{
        height: 98%;
        width: 98%;
        margin: 1%;
        padding: 2%;
        border-radius: 5px;
    }
} */

/* large */
/* @media only screen and (min-width: 1200px){
    .our-team-main{
        height: 98%;
        width: 98%;
        margin: 1%;
        padding: 2%;
        border-radius: 5px;
    }
    #footer{
        margin-top: 10px;
        position: fixed;
        bottom: 0;
    }

} */

/* ************************************************************************* */
/* ----------Navigation--------- */
@media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      -webkit-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    } 
    #mainNav .navbar-brand {
      padding: .5rem 0;
      color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link {
      -webkit-transition: none;
      transition: none;
      padding: 2rem 1.5rem;
      color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link:hover {
      color: rgba(255, 255, 255, 0.75);
    }
    #mainNav .nav-link:active {
      color: white;
    }
    #mainNav.navbar-shrink {
      background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #161616;
    }
    #mainNav.navbar-shrink .nav-link {
      color: #161616;
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
      color: #64a19d;
    }
    #mainNav.navbar-shrink .nav-link:active {
      color: #467370;
    }
    #mainNav.navbar-shrink .nav-link.active {
      color: #64a19d;
      outline: none;
      border-bottom: 0.25rem solid #64a19d;
    }
  }
  /* -------header---------- */
  /* @media only screen and (max-width: 575px) */
  @media (max-width: 575px) {
    .masthead h1 {
      font-size: 4vh;
      line-height: 4rem;
    }
  }
  @media (min-width: 768px) {
    .masthead h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0;
    }
    .masthead h1 {
      font-size: 8vh;
      line-height: 6.5rem;
      
    }
    .masthead h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
  /* ------------project section--------- */
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }
  }
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  @media (min-width: 992px) {
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color: #64a19d;
      border-width: .25rem;
      width: 30%;
    }
  }
